.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer {
  display: flex;
}

.title {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/title.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 400px;
	height: 220px;
	left: 480px;
	top: 75px;
}

.kiri {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/kiri.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 240px;
	height: 215px;
	left: 10px;
	bottom: 15px;
}

.kanan {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/kanan.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 240px;
	height: 215px;
	left: 1100px;
	bottom: 15px;
}

.gantung {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/gantung.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 140px;
	left: 780px;
	top: 150px;
}

.fly {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/fly.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 320px;
	left: 100px;
	top: 100px;
}

.ijo {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/ijo.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 180px;
	left: 1080px;
	top: 190px;
}

.walk {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/walk.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 40px;
	left: 610px;
	top: 305px;
}

.connect {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connect.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.connect:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connect2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.connectOff {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connectOff.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.connected {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connected.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.connect2 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connect.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.connect2:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connect2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.connectOff2 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connectOff.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.connected2 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connected.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.faucettop {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/faucet.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 1050px;
	top: 5px;
}

.faucettop:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/faucet2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 1050px;
	top: 5px;
}

.faucettopOff {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/faucet3.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 1050px;
	top: 5px;
}

.pricetop {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/price.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 910px;
	top: 5px;
}

.pricetop:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/price2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 910px;
	top: 5px;
}

.pricetopOff {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/price3.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 910px;
	top: 5px;
}

.send {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/send.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 770px;
	top: 5px;
}

.send:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/send2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 770px;
	top: 5px;
}

.sendOff {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/send3.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 770px;
	top: 5px;
}

.hometop {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/home.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 630px;
	top: 5px;
}

.hometop:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/home2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 630px;
	top: 5px;
}

.hometopOff {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/home3.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 630px;
	top: 5px;
}

.sendscreen {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sendscreen.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 430px;
	height: 430px;
	left: 470px;
	top: 85px;
}

.head {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/head.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 110px;
	height: 70px;
	left: 10px;
	top: 10px;
}

.head:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/head2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 110px;
	height: 70px;
	left: 10px;
	top: 10px;
}

.fb {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/fb.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 500px;
	bottom: 15px;
}

.fb:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/fb2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 500px;
	bottom: 15px;
}

.dc {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/dc.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 600px;
	bottom: 15px;
}

.dc:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/dc2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 600px;
	bottom: 15px;
}

.github {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/github.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 700px;
	bottom: 15px;
}

.github:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/github2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 700px;
	bottom: 15px;
}

.tele {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/tele.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 800px;
	bottom: 15px;
}

.tele:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/tele2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 15px;
}

.blocking {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/blocking.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 1350px;
	height: 900px;
	left: 0px;
	top: 0px;
}

.closebtn {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/close.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.closebtn:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/close2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.refreshbtn {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/refresh.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.refreshbtn:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/refresh2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.loadback {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/backloading.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.bar1 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/load1.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.bar2 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/load2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.bar3 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/load3.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.bar4 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/load4.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.bar5 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/load5.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.bar6 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/load6.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.bar7 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/load7.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.hey {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/hey.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 425px;
	top: 440px;
}

.sorry {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sorry.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 110px;
	height: 100px;
	left: 395px;
	top: 450px;
}

.yey {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/yey.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 100px;
	left: 420px;
	top: 440px;
}

.checktxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checking.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 25px;
	left: 600px;
	top: 310px;
}

.checkload {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 550px;
	top: 305px;
}

.checkv {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 305px;
}

.connectingtxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connecting.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 150px;
	height: 25px;
	left: 600px;
	top: 340px;
}

.connectload {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 550px;
	top: 335px;
}

.connectv {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 335px;
}

.validatingtxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/validating.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 150px;
	height: 25px;
	left: 600px;
	top: 370px;
}

.validatingload {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 550px;
	top: 365px;
}

.validatingv {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 365px;
}

.connectedtxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/connectedd.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 150px;
	height: 25px;
	left: 600px;
	top: 400px;
}

.connectedv {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 395px;
}

.gotosendtxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/gotosend.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 25px;
	left: 600px;
	top: 520px;
}

.walletnotfoundtxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/walletnotfound.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 310px;
	height: 180px;
	left: 540px;
	top: 305px;
}

.clickheretxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/clickhere.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 25px;
	left: 600px;
	top: 490px;
}

.nofundtxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/nofund.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 310px;
	height: 180px;
	left: 540px;
	top: 305px;
}

.feetxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/fee.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 25px;
	left: 520px;
	top: 160px;
}

.inputfee {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	border: 2px solid black;
	background-color: lightblue;
	color: black;
	width: 320px;
	left: 530px;
	top: 190px;
}

.memotxt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/memo.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 25px;
	left: 530px;
	top: 220px;
}

.inputmemo {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	border: 2px solid black;
	background-color: lightblue;
	color: black;
	width: 320px;
	left: 530px;
	top: 250px;
}

.submitsend {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/submitsend.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 35px;
	left: 630px;
	top: 450px;
}

.submitsend:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/submitsend2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 35px;
	left: 630px;
	top: 450px;
}

.submitsendOff {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/submitsendOff.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 35px;
	left: 630px;
	top: 450px;
}

.send1txt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sendtxt1.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 285px;
}

.send1load {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/loadsend.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 278px;
}

.send1v {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 285px;
}

.send2txt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sendtxt2.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 310px;
}

.send2load {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/loadsend.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 303px;
}

.send2v {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 310px;
}

.send3txt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sendtxt3.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 335px;
}

.send3load {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/loadsend.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 328px;
}

.send3v {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 335px;
}

.send4txt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sendtxt4.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 360px;
}

.send4load {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/loadsend.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 353px;
}

.send4v {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 360px;
}

.send5txt {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sendtxt5.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 385px;
}

.send5v {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/checklist.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 385px;
}

.detailsend {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/senddetail.gif");
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 415px;
}

@font-face { font-family: font1; src: url("../styles/font1.ttf"); } 
.addres {
	display: block;
	position: absolute;
    font-family: font1;
	font-size: 13px;
	color: #D8D8D8;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	left: 455px;
	top: 420px;
   }

.marketprice {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/marketprice.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 1005px;
	height: 450px;
	left: 170px;
	top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 170px;
    height: 170px;
    border-radius: 24px;
    border: 1px solid #000000;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    text-align: center;
	background-color: #E0E0E0;
	float: left;
}

.card:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.coinname {
	font-size: 13px;
}

.lastprice {
	font-size: 15px;
}

.green {
    color: #009900;
	font-size: 25px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.red {
    color: #ff0000;
	font-size: 25px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.icon {
	font-size: 25px;
    margin: auto;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
}

.list {
	display: block;
	position: absolute;
	font-family: font1;
	font-size: 15px;
	color: #000000;
	left: 30px;
	top: 65px;
}

.img1 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/mina-protocol.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 65px;
	top: 15px;
}

.img2 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/bitcoin.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 250px;
	top: 15px;
}

.img3 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/ethereum.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 430px;
	top: 15px;
}

.img4 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/Tether.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 610px;
	top: 15px;
}

.img5 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/bnb.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 795px;
	top: 15px;
}

.img6 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/USD_Coin.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 65px;
	top: 200px;
}

.img7 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/dogecoin.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 250px;
	top: 200px;
}

.img8 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/matic-token-icon.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 430px;
	top: 200px;
}

.img9 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/litecoin.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 610px;
	top: 200px;
}

.img10 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/aptos.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 795px;
	top: 200px;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {

}

@media only screen and (min-width: 1900px) {

.title {
	width: calc(1.41 * 400px);
	height: calc(1.41 * 220px);
	left: calc(1.41 * 480px);
	top: calc(1.41 * 75px);
}

.kiri {
	width: calc(1.41 * 240px);
	height: calc(1.41 * 215px);
	left: calc(1.41 * 10px);
	bottom: calc(1.41 * 15px);
}

.kanan {
	width: calc(1.41 * 240px);
	height: calc(1.41 * 215px);
	left: calc(1.41 * 1100px);
	bottom: calc(1.41 * 15px);
}

.gantung {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 140px);
	left: calc(1.41 * 780px);
	top: calc(1.41 * 150px);
}

.fly {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 320px);
	left: calc(1.41 * 100px);
	top: calc(1.41 * 100px);
}

.ijo {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 180px);
	left: calc(1.41 * 1080px);
	top: calc(1.41 * 190px);
}

.walk {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 40px);
	left: calc(1.41 * 610px);
	top: calc(1.41 * 305px);
}

.connect {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 610px);
	top: calc(1.41 * 340px);
}

.connect:hover {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 610px);
	top: calc(1.41 * 340px);
}

.connectOff {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 610px);
	top: calc(1.41 * 340px);
}

.connected {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 610px);
	top: calc(1.41 * 340px);
}

.connect2 {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 1200px);
	top: calc(1.41 * 10px);
}

.connect2:hover {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 1200px);
	top: calc(1.41 * 10px);
}

.connectOff2 {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 1200px);
	top: calc(1.41 * 10px);
}

.connected2 {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 1200px);
	top: calc(1.41 * 10px);
}

.faucettop {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 1050px);
	top: calc(1.41 * 5px);
}

.faucettop:hover {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 1050px);
	top: calc(1.41 * 5px);
}

.faucettopOff {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 1050px);
	top: calc(1.41 * 5px);
}

.pricetop {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 910px);
	top: calc(1.41 * 5px);
}

.pricetop:hover {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 910px);
	top: calc(1.41 * 5px);
}

.pricetopOff {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 910px);
	top: calc(1.41 * 5px);
}

.send {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 770px);
	top: calc(1.41 * 5px);
}

.send:hover {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 770px);
	top: calc(1.41 * 5px);
}

.sendOff {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 770px);
	top: calc(1.41 * 5px);
}

.hometop {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 630px);
	top: calc(1.41 * 5px);
}

.hometop:hover {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 630px);
	top: calc(1.41 * 5px);
}

.hometopOff {
	width: calc(1.41 * 140px);
	height: calc(1.41 * 60px);
	left: calc(1.41 * 630px);
	top: calc(1.41 * 5px);
}

.sendscreen {
	width: calc(1.41 * 430px);
	height: calc(1.41 * 430px);
	left: calc(1.41 * 470px);
	top: calc(1.41 * 85px);
}

.head {
	width: calc(1.41 * 110px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 10px);
	top: calc(1.41 * 10px);
}

.head:hover {
	width: calc(1.41 * 110px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 10px);
	top: calc(1.41 * 10px);
}

.fb {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	left: calc(1.41 * 500px);
	bottom: calc(1.41 * 15px);
}

.fb:hover {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	left: calc(1.41 * 500px);
	bottom: calc(1.41 * 15px);
}

.dc {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	left: calc(1.41 * 600px);
	bottom: calc(1.41 * 15px);
}

.dc:hover {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	left: calc(1.41 * 600px);
	bottom: calc(1.41 * 15px);
}

.github {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	left: calc(1.41 * 700px);
	bottom: calc(1.41 * 15px);
}

.github:hover {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	left: calc(1.41 * 700px);
	bottom: calc(1.41 * 15px);
}

.tele {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	left: calc(1.41 * 800px);
	bottom: calc(1.41 * 15px);
}

.tele:hover {
	width: calc(1.41 * 80px);
	height: calc(1.41 * 80px);
	bottom: calc(1.41 * 15px);
}

.blocking {
	width: calc(1.41 * 1350px);
	height: calc(1.41 * 900px);
	left: calc(1.41 * 0px);
	top: calc(1.41 * 0px);
}

.closebtn {
	width: calc(1.41 * 70px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 930px);
	top: calc(1.41 * 210px);
}

.closebtn:hover {
	width: calc(1.41 * 70px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 930px);
	top: calc(1.41 * 210px);
}

.refreshbtn {
	width: calc(1.41 * 70px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 930px);
	top: calc(1.41 * 210px);
}

.refreshbtn:hover {
	width: calc(1.41 * 70px);
	height: calc(1.41 * 70px);
	left: calc(1.41 * 930px);
	top: calc(1.41 * 210px);
}

.loadback {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.bar1 {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.bar2 {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.bar3 {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.bar4 {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.bar5 {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.bar6 {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.bar7 {
	width: calc(1.41 * 275px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 450px);
}

.hey {
	width: calc(1.41 * 100px);
	height: calc(1.41 * 100px);
	left: calc(1.41 * 425px);
	top: calc(1.41 * 440px);
}

.sorry {
	width: calc(1.41 * 110px);
	height: calc(1.41 * 100px);
	left: calc(1.41 * 395px);
	top: calc(1.41 * 450px);
}

.yey {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 100px);
	left: calc(1.41 * 420px);
	top: calc(1.41 * 440px);
}

.checktxt {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 310px);
}

.checkload {
	width: calc(1.41 * 35px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 305px);
}

.checkv {
	width: calc(1.41 * 30px);
	height: calc(1.41 * 30px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 305px);
}

.connectingtxt {
	width: calc(1.41 * 150px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 340px);
}

.connectload {
	width: calc(1.41 * 35px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 335px);
}

.connectv {
	width: calc(1.41 * 30px);
	height: calc(1.41 * 30px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 335px);
}

.validatingtxt {
	width: calc(1.41 * 150px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 370px);
}

.validatingload {
	width: calc(1.41 * 35px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 365px);
}

.validatingv {
	width: calc(1.41 * 30px);
	height: calc(1.41 * 30px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 365px);
}

.connectedtxt {
	width: calc(1.41 * 150px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 400px);
}

.connectedv {
	width: calc(1.41 * 30px);
	height: calc(1.41 * 30px);
	left: calc(1.41 * 550px);
	top: calc(1.41 * 395px);
}

.gotosendtxt {
	width: calc(1.41 * 160px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 520px);
}

.walletnotfoundtxt {
	width: calc(1.41 * 310px);
	height: calc(1.41 * 180px);
	left: calc(1.41 * 540px);
	top: calc(1.41 * 305px);
}

.clickheretxt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 490px);
}

.nofundtxt {
	width: calc(1.41 * 310px);
	height: calc(1.41 * 180px);
	left: calc(1.41 * 540px);
	top: calc(1.41 * 305px);
}

.feetxt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 520px);
	top: calc(1.41 * 160px);
}

.inputfee {
	color: black;
	width: calc(1.41 * 320px);
	left: calc(1.41 * 530px);
	top: calc(1.41 * 190px);
}

.memotxt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 25px);
	left: calc(1.41 * 530px);
	top: calc(1.41 * 220px);
}

.inputmemo {
	color: black;
	width: calc(1.41 * 320px);
	left: calc(1.41 * 530px);
	top: calc(1.41 * 250px);
}

.submitsend {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 630px);
	top: calc(1.41 * 450px);
}

.submitsend:hover {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 630px);
	top: calc(1.41 * 450px);
}

.submitsendOff {
	width: calc(1.41 * 120px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 630px);
	top: calc(1.41 * 450px);
}

.send1txt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 285px);
}

.send1load {
	width: calc(1.41 * 35px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 555px);
	top: calc(1.41 * 278px);
}

.send1v {
	width: calc(1.41 * 20px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 563px);
	top: calc(1.41 * 285px);
}

.send2txt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 310px);
}

.send2load {
	width: calc(1.41 * 35px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 555px);
	top: calc(1.41 * 303px);
}

.send2v {
	width: calc(1.41 * 20px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 563px);
	top: calc(1.41 * 310px);
}

.send3txt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 335px);
}

.send3load {
	width: calc(1.41 * 35px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 555px);
	top: calc(1.41 * 328px);
}

.send3v {
	width: calc(1.41 * 20px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 563px);
	top: calc(1.41 * 335px);
}

.send4txt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 360px);
}

.send4load {
	width: calc(1.41 * 35px);
	height: calc(1.41 * 35px);
	left: calc(1.41 * 555px);
	top: calc(1.41 * 353px);
}

.send4v {
	width: calc(1.41 * 20px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 563px);
	top: calc(1.41 * 360px);
}

.send5txt {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 385px);
}

.send5v {
	width: calc(1.41 * 20px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 563px);
	top: calc(1.41 * 385px);
}

.detailsend {
	width: calc(1.41 * 180px);
	height: calc(1.41 * 20px);
	left: calc(1.41 * 600px);
	top: calc(1.41 * 415px);
}

.addres {
	font-size: 13px);
	left: calc(1.41 * 455px);
	top: calc(1.41 * 420px);
}

.marketprice {
	width: calc(1.41 * 1005px);
	height: calc(1.41 * 450px);
	left: calc(1.41 * 170px);
	top: calc(1.41 * 80px);
}

.card {
    padding: 17px 31px;
    margin: .5.41rem;
    width: calc(1.41 * 170px);
    height: calc(1.41 * 170px);
    border-radius: 33.9px;
    border: 1.41px solid #000000;
    box-shadow: rgb(0 0 0 / 12%) 0px 11.3px 33.9px;
}

.card:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 11.3px 33.9px;
}

.coinname {
	font-size: calc(1.41 * 13px);
}

.lastprice {
	font-size: calc(1.41 * 15px);
}

.green {
	font-size: calc(1.41 * 25px);
}

.red {
	font-size: calc(1.41 * 25px);
}

.icon {
	font-size: calc(1.41 * 25px);
    padding-top: calc(1.41 * 6px);
}

.list {
	font-size: calc(1.41 * 15px);
	left: calc(1.41 * 30px);
	top: calc(1.41 * 65px);
}

.img1 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 65px);
	top: calc(1.41 * 15px);
}

.img2 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 250px);
	top: calc(1.41 * 15px);
}

.img3 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 430px);
	top: calc(1.41 * 15px);
}

.img4 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 610px);
	top: calc(1.41 * 15px);
}

.img5 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 795px);
	top: calc(1.41 * 15px);
}

.img6 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 65px);
	top: calc(1.41 * 200px);
}

.img7 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 250px);
	top: calc(1.41 * 200px);
}

.img8 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 430px);
	top: calc(1.41 * 200px);
}

.img9 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 610px);
	top: calc(1.41 * 200px);
}

.img10 {
	width: calc(1.41 * 50px);
	height: calc(1.41 * 50px);
	left: calc(1.41 * 795px);
	top: calc(1.41 * 200px);
}

}

