.Home_container__bCOhY {
  padding: 0 2rem;
}

.Home_main__nLjiQ {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.Home_footer____T7K {
  display: flex;
}

.Home_title__T09hD {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/title.3a575d77.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 400px;
	height: 220px;
	left: 480px;
	top: 75px;	
}

.Home_kiri__qjDW3 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/kiri.a1c4d008.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 240px;
	height: 215px;
	left: 10px;
	bottom: 15px;
}

.Home_kanan__GgGoi {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/kanan.be43c56b.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 240px;
	height: 215px;
	left: 1100px;
	bottom: 15px;
}

.Home_gantung__uWng9 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/gantung.618d5fcc.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 140px;
	left: 780px;
	top: 150px;
}

.Home_fly__4fBFR {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/fly.a5497070.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 320px;
	left: 100px;
	top: 100px;
}

.Home_ijo__663mX {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/ijo.be69e4f7.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 180px;
	left: 1080px;
	top: 190px;
}

.Home_walk__CDZrL {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/walk.2e116a34.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 40px;
	left: 610px;
	top: 305px;
}

.Home_connect__lnU7w {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connect.f3899d51.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.Home_connect__lnU7w:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connect2.401b908f.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.Home_connectOff__Mf3ho {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connectOff.67edce78.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.Home_connected__VKUQn {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connected.57632d9c.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 70px;
	left: 610px;
	top: 340px;
}

.Home_connect2__rcf4I {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connect.f3899d51.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.Home_connect2__rcf4I:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connect2.401b908f.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.Home_connectOff2__OepHA {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connectOff.67edce78.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.Home_connected2__KcdAc {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connected.57632d9c.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 1200px;
	top: 10px;
}

.Home_faucettop__E9NDb {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/faucet.77586391.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 1050px;
	top: 5px;
}

.Home_faucettop__E9NDb:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/faucet2.b5bd8700.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 1050px;
	top: 5px;
}

.Home_faucettopOff__ShQSP {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/faucet3.fa5525f2.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 1050px;
	top: 5px;
}

.Home_pricetop__4fKMK {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/price.a048d72e.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 910px;
	top: 5px;
}

.Home_pricetop__4fKMK:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/price2.7e5af971.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 910px;
	top: 5px;
}

.Home_pricetopOff__RidC3 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/price3.fe34df75.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 910px;
	top: 5px;
}

.Home_send__Q2nxT {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/send.0e436925.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 770px;
	top: 5px;
}

.Home_send__Q2nxT:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/send2.0145ba2b.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 770px;
	top: 5px;
}

.Home_sendOff__HMSiP {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/send3.ee145991.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 770px;
	top: 5px;
}

.Home_hometop__If31W {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/home.690a1edd.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 630px;
	top: 5px;
}

.Home_hometop__If31W:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/home2.ff924b32.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 630px;
	top: 5px;
}

.Home_hometopOff__dXIup {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/home3.6207647e.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 140px;
	height: 60px;
	left: 630px;
	top: 5px;
}

.Home_sendscreen__P9tsM {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/sendscreen.04116240.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 430px;
	height: 430px;
	left: 470px;
	top: 85px;
}

.Home_head__IrBKJ {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/head.7cb07b38.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 110px;
	height: 70px;
	left: 10px;
	top: 10px;
}

.Home_head__IrBKJ:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/head2.b8d9f91c.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 110px;
	height: 70px;
	left: 10px;
	top: 10px;
}

.Home_fb___R3pz {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/fb.ac00b978.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 500px;
	bottom: 15px;
}

.Home_fb___R3pz:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/fb2.73eadbcf.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 500px;
	bottom: 15px;
}

.Home_dc__7eCBG {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/dc.96fe12cb.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 600px;
	bottom: 15px;
}

.Home_dc__7eCBG:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/dc2.490054da.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 600px;
	bottom: 15px;
}

.Home_github__cSqgs {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/github.a33a3c8b.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 700px;
	bottom: 15px;
}

.Home_github__cSqgs:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/github2.74a84038.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 700px;
	bottom: 15px;
}

.Home_tele__oHh6f {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/tele.04a973fe.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 800px;
	bottom: 15px;
}

.Home_tele__oHh6f:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/tele2.b5b3b216.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 15px;
}

.Home_blocking__x2wTL {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/blocking.5df65031.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 1350px;
	height: 900px;
	left: 0px;
	top: 0px;
}

.Home_closebtn__PqJs4 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/close.ab07a999.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.Home_closebtn__PqJs4:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/close2.9a4c2dea.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.Home_refreshbtn__NkoUY {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/refresh.77c07a77.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.Home_refreshbtn__NkoUY:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/refresh2.156b57d3.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 930px;
	top: 210px;
}

.Home_loadback__jKSP5 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/backloading.4cde63a8.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_bar1__ftyJf {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/load1.97ec7d41.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_bar2__CctCi {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/load2.9d0e6ae7.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_bar3__TU9xS {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/load3.c3612fa1.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_bar4__h6INe {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/load4.e544b8c8.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_bar5__aZVmE {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/load5.bd632e1f.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_bar6__ukr8G {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/load6.5fce7355.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_bar7__m3FjB {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/load7.b4882fbc.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 275px;
	height: 50px;
	left: 550px;
	top: 450px;
}

.Home_hey__YAyX1 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/hey.25151781.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 425px;
	top: 440px;
}

.Home_sorry__Uy4KF {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/sorry.e08b1d37.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 110px;
	height: 100px;
	left: 395px;
	top: 450px;
}

.Home_yey__3ZDFw {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/yey.f312e0ec.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 100px;
	left: 420px;
	top: 440px;
}

.Home_checktxt__3fE2v {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checking.d11c86bd.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 25px;
	left: 600px;
	top: 310px;
}

.Home_checkload__FFcEQ {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/loading.16d9f08b.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 550px;
	top: 305px;
}

.Home_checkv__SY4ZS {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 305px;
}

.Home_connectingtxt__ou2DB {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connecting.26cca050.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 150px;
	height: 25px;
	left: 600px;
	top: 340px;
}

.Home_connectload__xa2Py {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/loading.16d9f08b.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 550px;
	top: 335px;
}

.Home_connectv__VF5Xn {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 335px;
}

.Home_validatingtxt__uJ5ww {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/validating.27603dfd.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 150px;
	height: 25px;
	left: 600px;
	top: 370px;
}

.Home_validatingload__C3KZX {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/loading.16d9f08b.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 550px;
	top: 365px;
}

.Home_validatingv__0bR5Z {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 365px;
}

.Home_connectedtxt__7OMtU {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/connectedd.e39b08e0.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 150px;
	height: 25px;
	left: 600px;
	top: 400px;
}

.Home_connectedv__fzuex {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 550px;
	top: 395px;
}

.Home_gotosendtxt__SPOe9 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/gotosend.dd88b0a9.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 160px;
	height: 25px;
	left: 600px;
	top: 520px;
}

.Home_walletnotfoundtxt__qFGnJ {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/walletnotfound.8a9b1cd5.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 310px;
	height: 180px;
	left: 540px;
	top: 305px;
}

.Home_clickheretxt__wNLAB {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/clickhere.b80fc8d1.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 25px;
	left: 600px;
	top: 490px;
}

.Home_nofundtxt__Sn56Y {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/nofund.c65fbd07.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 310px;
	height: 180px;
	left: 540px;
	top: 305px;
}

.Home_feetxt__fGCGF {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/fee.27b52ceb.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 25px;
	left: 520px;
	top: 160px;
}

.Home_inputfee__zu57Z {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	border: 2px solid black;
	background-color: lightblue;
	color: black;
	width: 320px;
	left: 530px;
	top: 190px;
}

.Home_memotxt__1mL1l {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/memo.3d822c4c.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 25px;
	left: 530px;
	top: 220px;
}

.Home_inputmemo__PfYjf {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	border: 2px solid black;
	background-color: lightblue;
	color: black;
	width: 320px;
	left: 530px;
	top: 250px;
}

.Home_submitsend__4dEBa {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/submitsend.dab094bd.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 35px;
	left: 630px;
	top: 450px;
}

.Home_submitsend__4dEBa:hover {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/submitsend2.69caa4da.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 35px;
	left: 630px;
	top: 450px;
}

.Home_submitsendOff__BIRAx {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/submitsendOff.4380e049.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 35px;
	left: 630px;
	top: 450px;
}

.Home_send1txt__lG35a {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/sendtxt1.23549f5a.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 285px;
}

.Home_send1load__mGGt7 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/loadsend.d19ad663.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 278px;
}

.Home_send1v__onnmW {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 285px;
}

.Home_send2txt__tErHE {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/sendtxt2.69dc8b05.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 310px;
}

.Home_send2load__6N_X_ {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/loadsend.d19ad663.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 303px;
}

.Home_send2v__U_oNQ {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 310px;
}

.Home_send3txt__HXZam {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/sendtxt3.18485bd0.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 335px;
}

.Home_send3load__pIH2p {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/loadsend.d19ad663.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 328px;
}

.Home_send3v__GY_8v {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 335px;
}

.Home_send4txt__t2q78 {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/sendtxt4.d50ca548.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 360px;
}

.Home_send4load__TkSft {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/loadsend.d19ad663.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 555px;
	top: 353px;
}

.Home_send4v__XxOys {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 360px;
}

.Home_send5txt__tuUAl {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/sendtxt5.6b9e3cdb.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 385px;
}

.Home_send5v__0K8oV {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/checklist.0bb38e15.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 563px;
	top: 385px;
}

.Home_detailsend___CRpP {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/senddetail.982032cf.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 180px;
	height: 20px;
	left: 600px;
	top: 415px;
}

@font-face { font-family: font1; src: url(/appbuild/_next/static/media/font1.e2f3cfa0.ttf); } 
.Home_addres__PrrqD {
	display: block;
	position: absolute;
    font-family: font1;
	font-size: 13px;
	color: #D8D8D8;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	left: 455px;
	top: 420px;
   }

.Home_marketprice__qCMpw {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/marketprice.6aab7d8a.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 1005px;
	height: 450px;
	left: 170px;
	top: 80px;
}

.Home_card___LpL1 {
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 170px;
    height: 170px;
    border-radius: 24px;
    border: 1px solid #000000;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    text-align: center;
	background-color: #E0E0E0;
	float: left;
}

.Home_card___LpL1:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.Home_coinname__yU6Iv {
	font-size: 13px;
}

.Home_lastprice__5doxw {
	font-size: 15px;
}

.Home_green__g8l_e {
    color: #009900;
	font-size: 25px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_red__H_jTz {
    color: #ff0000;
	font-size: 25px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_icon__qn8Vn {
	font-size: 25px;
    margin: auto;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
}

.Home_list__qBUOI {
	display: block;
	position: absolute;
	font-family: font1;
	font-size: 15px;
	color: #000000;
	left: 30px;
	top: 65px;
}

.Home_img1__zy5RR {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/mina-protocol.6949dfd5.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 65px;
	top: 15px;
}

.Home_img2__Z4Dd1 {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/bitcoin.a2c6553c.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 250px;
	top: 15px;
}

.Home_img3__u0RYn {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/ethereum.8405af42.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 430px;
	top: 15px;
}

.Home_img4__IPCVN {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/Tether.80ba2001.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 610px;
	top: 15px;
}

.Home_img5__GBtai {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/bnb.7f534977.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 795px;
	top: 15px;
}

.Home_img6__OCaEY {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/USD_Coin.cef51860.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 65px;
	top: 200px;
}

.Home_img7__6S3ld {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/dogecoin.4f5f90c1.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 250px;
	top: 200px;
}

.Home_img8__SDX9X {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/matic-token-icon.5e95902a.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 430px;
	top: 200px;
}

.Home_img9__ZYBQw {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/litecoin.cca7eacc.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 610px;
	top: 200px;
}

.Home_img10__ze1__ {
	display: block;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/appbuild/_next/static/media/aptos.5e7d5def.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 795px;
	top: 200px;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {

}

body, html {
	padding: 0;
	margin: 0;
    background: url(/appbuild/_next/static/media/bg.7a45e65a.png) no-repeat center center fixed;
    background-size: 100% 100%;
	position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
  }
}

@media only screen and (max-width: 960px) {
	body, html {
	padding: 0;
	margin: 0;
    background: url(/appbuild/_next/static/media/bg.7a45e65a.png) no-repeat center center fixed;
    background-size: cover;
	position: absolute;
	}
}

